# Environment variables
.env
.env.local
*.env

# Node & RN
node_modules/
.expo/
dist/
npm-debug.*

# Android / iOS builds
mobile/android/.gradle
mobile/android/app/build
mobile/android/build

# IDE
.idea/
.vscode/
*.swp
*.DS_Store
